<div class="row">
  <div class="col-md-6 m-3">
    <h1>
      Movies
      <small>
        <a href="/movies/new" class="btn btn-primary">New Movie</a>
      </small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form action="/movies" method="get" class="form-inline">
      <select name="filter" class="form-control">
        <option value="">Filter by genre</option>
        {{#each genres}}
          {{#if selected}}
            <option value="{{this.genre}}" selected>{{this.genre}}</option>
          {{else}}
          <option value="{{this.genre}}">{{this.genre}}</option>
          {{/if}}
        {{/each}}
      </select>
      <button type="submit" class="btn btn-success">Filter</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <ul>
      {{#each movies}}
        <li class="my-3">
          <div class="row">
            <div class="col-md-6">
              <a href="/movies/{{this._id}}">
                {{this.title}}
              </a>
              <p class="muted">
                <strong>Genre:</strong>
                {{this.genre}}
              </p>  
            </div>
            <div class="col-md-6">
              <a href="/movies/{{this._id}}/edit" class="btn btn-primary btn-sm">Update</a>
              <a href="/movies/{{this._id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>