<div class="row">
  <div class="col-md-6">
    <h1>
      Movies
      <small>
        <a href="/movies/new" class="btn btn-primary">New Movie</a>
      </small>
    </h1>
  </div>
  <div class="col-md-6">
    <form action="/movies" method="get" class="form-inline">
      <select name="filter" class="form-control">
        <option value="">Filter by genre</option>
        {{#each genres}}
          {{#if selected}}
            <option value="{{this.genre}}" selected>{{this.genre}}</option>
          {{else}}
          <option value="{{this.genre}}">{{this.genre}}</option>
          {{/if}}
        {{/each}}
      </select>
      <button type="submit" class="btn btn-success">Filter</button>
    </form>
  </div>
</div>

<div class="row">
  {{#each movies}}

    <div class="col-md-6 col-12">
      <div class="card my-2">
        <img class="card-img-top" src="{{this.poster}}" alt="Card image cap">
        <div class="card-body">
          <a href="/movies/{{this._id}}">
            <h5 class="card-title">{{this.title}}</h5>
          </a>
          <p class="card-text">
              <strong>Genre:</strong> {{this.genre}}
            </p>
          <p class="card-text">
            <strong>Plot:</strong>
            <span class="plot">
              {{this.plot}}
            </span>
          </p>
          <a href="/movies/{{this._id}}/edit" class="btn btn-primary btn-sm">Update</a>
          <a href="/movies/{{this._id}}/delete" class="btn btn-danger btn-sm">Delete</a>
        </div>
      </div>
    </div>

  {{/each}}
</div>