<div class="row">
  <div class="col-md-8">
    <h2>{{title}}</h2>
  </div>
  <div class="col-md-4">
    <a href="/movies/{{this._id}}/edit" class="btn btn-primary btn-sm">Update</a>
    <a href="/movies/{{this._id}}/delete" class="btn btn-danger btn-sm">Delete</a>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p><strong>Plot:</strong> {{plot}}</p>
    <p><strong>Genre:</strong> {{genre}}</p>
  </div>
</div>