<div class="row">
  <div class="col-md-8">
    <h2>{{movie.title}}</h2>
  </div>
  <div class="col-md-4">
    <a href="/movies/{{movie._id}}/edit" class="btn btn-primary btn-sm">Update</a>
    <a href="/movies/{{movie._id}}/delete" class="btn btn-danger btn-sm">Delete</a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p><strong>Plot:</strong> {{movie.plot}}</p>
    <h3>Cast:</h3>
    <ul>
      {{#each actors}}
        <li>
          <a href="/celebrities/{{this._celebrity._id}}">
            {{this._celebrity.firstName}} {{this._celebrity.lastName}}
          </a>
        </li>
      {{/each}}
    </ul>
    <p><strong>Genre:</strong> {{movie.genre}}</p>
  </div>
  <div class="col-md-2">
    <img src="{{movie.poster}}" alt="" />
  </div>
  <div class="col-md-2"></div>
</div>